# Ignore local directory
.vscode/

# Ignore local secret file
.env
.pypirc

# Ignore cache
__pycache__/

# Ignore build and distribution directories/files
build/
dist/
*.egg-info/

# Ignore local tests
local_test.py
